.section {
    background: #16426C;
    padding: 0 0 50px 0;
}

.content {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    align-items: center;
    gap: 46px;
}

.wrapperContetn {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 780px;
}

.title {
    color: #24B966;
    font-size: 100px;
    font-weight: 400;
    margin: 40px 0;
}

.wrapperDescription {
    border: 2px solid #24B966;
}

.wrapperDescription {
    display: flex;
    flex-direction: column;
}

.descriptionArticle  {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.wrapperSubTitle {
    display: flex;
    align-items: center;
    gap: 5px;
}

.subTitle {
    color: #24B966;
    font-size: 20px;
    font-weight: 700;
}

.description {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
}


@media screen and (max-width: 768px) {
    .section {
        background-color: initial;
    }

    .title {
        font-size: 32px;
        font-weight: 400;
        text-align: center;
        margin-bottom: 20px;
    }

    .row {
        flex-direction: column-reverse;
    }

    .descriptionArticle {
        gap: 15px;
    }

    .subTitle {
        font-size: 16px;
    }

    .description {
        font-size: 14px;
        color: #16426C;
    }
}